h1 {
	font-family: "Lexend", sans-serif;
	font-weight: 800;
	font-size: 60px;
	line-height: 57px;
}

.container {
	margin: 21px auto;
	padding: 21px;
}

.one {
	font-family: "Aleo", sans-serif;
}

.three {
	font-family: "Fira Code", monospace;
}

.six {
	font-family: "Lexend", sans-serif;
	font-weight: 200;
}

.six-h3 {
	font-family: "Lexend", sans-serif;
	font-weight: 800;
	font-size: 30px;
}
